body {
    background-color: #0b0b0d;
    color: #f1f1f1;
    font-family: 'IRANYekan', sans-serif;
    padding-top: 70px;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        color: #6c63ff !important;
    }

.navbar {
    background-color: #121214 !important;
}

.nav-link.active {
    color: #6c63ff !important;
}

footer {
    background-color: #0b0b0d;
    color: #999;
}
